

  <!-- START LOGO AREA -->
  <div class="logo-area">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-7 mx-md-auto mx-sm-auto mx-auto pl-0">
          <div class="logo">
            <a href="index.html">
               <img class="img-fluid" src="assets/img/head.png" alt="">
            </a>
          </div>
        </div>
        <!-- end col -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
          <div class="header-info-box">
                          <div class="header-info-icon"><span class="lnr lnr-phone-handset"></span></div>
            <p>Users support & Contact with doctors</p>
                          <h6>assistant and online discussion</h6>
                      </div>
          <div class="header-info-box">
                          <div class="header-info-icon"><span class="lnr lnr-map-marker"></span></div>
            <p>Opening hours</p>
                          <h6>24/24</h6>
                      </div>


      <div class="header-info-box">
                          <a class="header-quote-btn" href="#">Get a Quote <i class="icofont icofont-caret-right"></i></a>
                      </div>

        </div>
        <!-- end col -->
      </div>
    </div>
  </div>
  <!-- END LOGO AREA -->

  <!-- START NAVIGATION AREA -->
  <div class="sticky-menu">
    <div class="mainmenu-area">
      <div class="auto-container">
        <div class="row">
          <div class="col-lg-9 d-lg-block d-md-none d-sm-none d-none ">
            <nav class="navbar navbar-expand-lg justify-content-left">
              <ul class="navbar-nav">

                <li ><a href="index.html" class="nav-link">Home</a>

                </li>

                <li ><a href="services.html" class="nav-link">Services</a>


                </li>

                <li><a href="gallery.html" class="nav-link">Doctors</a>

                </li>

                <li><a href="#" class="nav-link">Request</a>

                </li>

                <li ><a href="shop.html" class="nav-link">Assistant</a>

                </li>


                <li><a href="contact.html" class="nav-link">Contact</a></li>

              </ul>
            </nav>
          </div>


        </div>
      </div>
      <!--- END CONTAINER -->
    </div>
    <!-- END NAVIGATION AREA -->

    <!-- MOBILE-MENU-AREA START -->
    <div class="mobile-menu-area d-lg-none d-md-block d-sm-block d-block">
      <div class="col-md-9">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="navbar-nav">
                <li><a href="index.html">Home</a>

                </li>
                <li><a href="services.html">Services</a>

                </li>
                <li><a href="gallery.html">Doctors</a></li>

                <li><a href="#">Requests</a>

                </li>
                <li><a href="shop.html" class="nav-link">Assistant</a>

                </li>
                <li ><a href="index.html" class="nav-link">Contact</a>

                </li>


              </ul>
            </nav>
          </div>
        </div>
    </div>
    <!-- MOBILE-MENU-AREA END -->
  </div>

